In [0]:
%sql
CREATE OR REPLACE VIEW vw_top10_paises AS
SELECT 
    country,
    COUNT(DISTINCT show_id) AS total_titles
FROM titles_by_country
where country <> 'sem registro'
GROUP BY country
ORDER BY total_titles DESC
LIMIT 10;

In [0]:
%sql
CREATE OR REPLACE VIEW vw_evol_lancamentos AS
SELECT 
    DATE_FORMAT(date_added, 'yyyy-MM') AS year_month,
    COUNT(DISTINCT show_id) AS total_titles
FROM titles_clean
WHERE date_added IS NOT NULL
GROUP BY year_month
ORDER BY year_month;

In [0]:
%sql
CREATE OR REPLACE VIEW vw_filme_serie AS
SELECT 
    type,
    COUNT(DISTINCT show_id) AS total_titles
FROM titles_clean
GROUP BY type
ORDER BY total_titles DESC;

In [0]:
%sql
CREATE OR REPLACE VIEW vw_elenco AS
SELECT
    show_id,
    TRIM(actor) AS actor
FROM titles_clean
LATERAL VIEW explode(split(cast, ',')) tmp AS actor;

SELECT 
    actor,
    COUNT(DISTINCT show_id) AS total_titles
FROM exploded_cast
WHERE actor IS NOT NULL AND actor != ''
GROUP BY actor
ORDER BY total_titles DESC
LIMIT 20;